---
import MainLayout from "../../layouts/MainLayout.astro";
import  "./songs.scss"
---

<MainLayout>
  <div class="component-preview custom">
    <div class="inline-grid grid-cols-2 gap-16">
      <div>
        <h2>Seishun Complex</h2>
        <p>
          I loved the dark and the narrow. Deep in the hood. The eyes that hated
          the heartless world, that wanted love so badly.
        </p>

        <p>
          I liked to get wet in the rain because it suited my cloudy face. I
          pretended to be scared of the storm, waiting for the sky to break.
        </p>

        <p>
          I want it to crack, to thunder with the fuzz of light. Let it pound,
          beyond the pain, what am I gonna do!　Running wild, my ferocious
          heartbeat
        </p>
        <p>
          I liked to dive deep. There was a moon at the bottom of the sea. I
          wasn't supposed to tell anyone, but a crooked line ran through the
          night.
        </p>
        <p>
          I liked to dive deep. There was a moon at the bottom of the sea. There
          was a moon at the bottom of the sea. I wasn't supposed to tell anyone,
          but a crooked line ran through the night.
        </p>

        <p>
          Let's make a sound, a mating quartet. I'd like to bring about a
          revolution. "Sound the bells, lament the forte, what shall we do?What
          shall I do? I'll just let my wild and ferocious nature out.
        </p>
        <p>
          Strum a guitar, my overlapping quartet I'd like to see a revolution
          come to fruition Sound the bells! Lamentation Forte, what shall I do?
          I'll show you my unrestrained, violent nature.
        </p>
        <p>
          Look down (like a cat's back). It's okay, I want to be like a tiger.
        </p>
        <p>
          I want to strum my guitar lightly and roar the thunder that is me.
          Resound! To the other side of pain, let's go! Rampaging, ferocious
          heartbeat! Howl your impulsive feelings!
        </p>
      </div>
    </div>
  </div>
  <div></div>
</MainLayout>
